@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Pacifico"), url(/fonts/Pacifico.woff2) format("woff2");
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Quicksand"), url(/fonts/Quicksand.woff2) format("woff2");
}

/* @keyframes wobble{
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
} */
@keyframes disappear {
  0%{
    color: red;
  }
  100%{
    color:black;
    transform:translateY(45px);
  }
  from {
    opacity: 1;
    display:auto;
  }
  to   {
    opacity: 0;
    display: none;
  }
}
html {
  overflow-y: scroll;
}

html,
body {
  background-color: #eeeeee;
  padding: 0;
  margin: 0;
  font-family: Quicksand;
}

* {
  box-sizing: border-box;
  outline: none;
}

.none {
  display: none;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
}

.page {
  background-color: white;
  margin: auto;
  padding-bottom: 32px;
  width: 60vw;
  min-height: 100vh;
}

.page-title {
  text-align: center;
  font-family: Pacifico;
  font-size: 64px;
  margin: 0;
  padding: 64px 0;
  color: #555;
  text-shadow: 12px 12px #dfdfdf;
}

.header {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  left: 80vw;
  width: 18vw;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  right: 0;
  float: right;
}

.header-container {
  display: flex;
  flex-flow: column wrap;
  width: 80%;
  height: 100%;
  background-color: #80b1e2;
  color: white;
  border-radius: 60px;
  justify-content: center;
  border: solid 1px black;
  max-width: 400px;
  margin: auto auto auto auto;
}

.header-btn {
  background-color: rgb(235, 235, 235);
  margin: 1em 1em 1em 1em;
  font-size: 1em;
  text-align: center;
  border-radius: 35%;
  color: black;
  font-weight: bold;
  min-width: 100px;
  padding: 10px;
  border: solid 1pt black;
  cursor: pointer;
  font-weight: bold;
}

.header-btn:hover {
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-color: #4dc6ff;
  color: white;
}

.header-btn:focus {
  outline: none;
  font-weight: bold;
  font-family: Quicksand;
}

.header-email {
  font-family: Quicksand;
  font-size: 16px;
  padding: 10px 20px 0 20px;
  width: 100%;
  font-weight: bold;
  text-shadow: beige;
  color: #3ca5ff;
  text-align: center;
  cursor: pointer;
}

.welcome {
  width: 100%;
  padding-top: 8vh;
  text-align: center;
}

.welcome-header {
  font-family: Pacifico;
  font-size: 5vw;
  margin: 0;
  color: #555;
}
.circles {
  position: static;
  z-index: -1;
}
.welcome-box {
  top: 33%;
  position: absolute;
  z-index: 1;
  width: 60vw;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #3ca5ff;
  border: 1px solid #3ca5ff;
  border-radius: 128px;
  align-items: center;
  align-content: center;
}

.welcome-aboutus {
  color: white;
  font-family: Pacifico;
  font-size: 32px;
  margin: 0;
  padding-top: 16px;
}

.welcome-text {
  color: white;
  width: 60%;
  margin: auto;
  padding-top: 16px;
  padding-bottom: 32px;
  line-height: 1.6;
}

.click-prompt{
  border: 1px lightcoral solid;
  position: relative;
  left:39%;
  padding:10px;
  margin-left: 2em;
  width: fit-content;
  animation: disappear 6s forwards;
}

.domain-circles {
  border: 10px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* *:focus {
  outline: 0;
} */
.domain-container {
  width: 100%;
  padding: 5px;
  position: relative;
}

@keyframes loading {
  0% {opacity: 1; top: 0;}
  50% {opacity: 0.1; top: 50px;}
  100% {opacity: 1; top: 0;}
}

.loading {
  animation-name: loading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.survey-text {
  display: inline-block;
  width: 80%;
  color: white;
  background: #3ca5ff;
  padding: 2em;
  border-radius: 8em;
  margin-top: 2em;
}

.survey-container {
  width: 80%;
  margin: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.survey-title {
  color: #3ca5ff;
  font-size: 40px;
  margin: 0;
  padding-bottom: 32px;
}

.survey {
  border: 1px solid #ccc;
  border-radius: 16px;
}

.input-readonly {
  background-color: #DDDDDD;
  outline: none;
  border: none;
}

.question {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 12px;
  width: 90%;
  margin: auto;
  padding: 16px 16px 32px 16px;
  margin-bottom: 64px;
}

.question-disabled {
  opacity: 0.5;
}

.question-deleted {
  border: 1px solid rgb(255, 96, 96);
  background-color: rgba(255, 96, 96, 0.25);
}

.question-title {
  color: #3ca5ff;
  font-size: 22px;
  margin: 0 0 1em 0;
}

.question-title-edit {
  color: #3ca5ff;
  font-size: 22px;
  margin: 0 0 1em 0;
  padding: 0.25em;
  width: 100%;
}

.question-spacing {
  margin-right: 10px;
  margin-bottom: 10px;
}

.question-spacing-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.question-mc-edit-container {
  flex-grow: 1;
  margin-right: 1em;
}

.question-mc-edit-input {
  width: 100%;
}

.question-add-extra-sa {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 1em 0;
}

.question-extra-sa {
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-extra-sa-text {
  margin-left: 1em;
  color: #3ca5ff;
}

.question-sa {
  margin: 16px;
  width: 80%;
}

.question-sa-edit {
  margin: 16px;
  width: calc(100% - 2*16px);
  text-align: left;
}

.question-sa-flex-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-sa-number-edit {
  max-width: 3em;
  max-height: 2em;
}

.question-sa-text {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.question-sa-text-edit {
  margin-bottom: 4px;
  padding: 0 !important;
  font-size: 14px;
  color: #555;
}

.question-sa input {
  font-family: Quicksand;
  font-size: 16px;
  padding: 8px;
  width: 100%;
}

.question-sa-edit input {
  font-family: Quicksand;
  font-size: 16px;
  padding: 8px;
  flex-grow: 0.9;
}

.question-remove-icon {
  color: rgb(255, 96, 96);
  cursor: pointer;
}

.question-add-icon {
  color: #3ca5ff;
  cursor: pointer;
}

.question-add-subquestion {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 1em 0;
}

.survey-submit {
  font-family: Quicksand;
  border: none;
  padding: 16px;
  border-radius: 32px;
  cursor: pointer;
  background-color: #3ca5ff;
  color: white;
  width: 25%;
  min-width: 150px;
  font-size: 24px;
  margin: auto;
  text-align: center;
}
.survey-submit:hover {
  background-color: #4dc6ff;
}

.success-text {
  color: #3ca5ff;
  font-size: 32px;
  margin: 0;
  padding-bottom: 32px;
  text-align: center;
}

.question-weight {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 5em;
  max-width: 5em;
}

.question-domain {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-basis: 6em;
  max-width: 6em;
  height: 3em;
  margin: auto;
}

.question-weight-spaced {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 5em;
  max-width: 5em;
  margin-right: 1em;
}

.question-rank-container {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 5%;
  margin-top: 40px;
}

.question-rank-value-container {
  flex-basis: 40px;
  min-width: 40px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  margin-right: 40px;
}

.question-rank-item-container {
  display: flex;
  flex-flow: column wrap;
  flex-direction: row;
  max-width: 600px;
  margin-right: 16px;
  width: 100%;
}

.question-rank-value {
  border: 1px solid #ddd;
  border-radius: 24px;
  margin-bottom: 20px;
}

.question-rank-value-text {
  font-family: Quicksand;
  font-size: 20px;
  color: #555;
  text-align: center;
  margin: 6px;
  user-select: none;
}

.question-rank-item {
  position: relative;
  border: 2px solid #3ca5ff;
  border-radius: 6px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  cursor: move;
  user-select: none;
}

.question-rank-item-edit {
  position: relative;
  border: 2px solid #3ca5ff;
  border-radius: 6px;
  flex-grow: 1;
  padding: 10px;
  margin-right: 1em;
}

.question-rank-item-container-edit {
  flex-basis: calc(100% - 80px);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.question-rank-item-highlight {
  background: rgb(240, 245, 255);
  background: linear-gradient(
    270deg,
    rgba(240, 245, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-box-shadow: -4px 4px 10px 1px #3d3d3d;
  box-shadow: -4px 4px 10px 1px #3d3d3d;
  margin-left: 10px;
  margin-right: -10px;
  pointer-events: none;
  z-index: 100;
}

.question-rank-item-title-edit {
  width: calc(100% - 28px);
}

.question-scale-text {
  text-align: center;
  margin: 15px auto;
  font-size: 16px;
  font-weight: 600;
  color: #555;
  max-width: 250px;
}

.question-scale-text-edit {
  text-align: center;
  margin: 15px auto;
  font-size: 16px;
  font-weight: 600;
  color: #555;
  width: 60%;
  margin-bottom: 4px;
  padding: 0 !important;
  font-size: 14px;
}

.question-scale {
  height: 20px;
  margin: 10px 0 10px -10px;
}

.question-scale-slider {
  max-width: 500px;
  height: 20px;
  margin: auto;
  z-index: 1;
}

.question-scale-slider-thumb {
  border-radius: 12px;
  background-color: #555;
  width: 10px;
  height: 10px;
  margin: 5px 0 0 5px;
  cursor: pointer;
}

.question-scale-slider-mark {
  border: 1px solid #555;
  background-color: #fff;
  position: absolute;
  width: 10px;
  height: 10px;
  margin: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.question-scale-slider-track {
  border: 2px solid #3ca5ff;
  height: 20px;
  margin: 0 -10px 0 0;
  border-radius: 10px;
  background: transparent;
}

.question-scale-slider-bg {
  position: relative;
  height: 20px;
  max-width: 520px;
  top: -20px;
  margin: auto;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(118, 192, 255, 1) 100%
  );
}

.question-scale-slider-value {
  background: #eee;
  border-radius: 8px;
  width: 60px;
  height: 2.15em;
  margin: 15px auto 0 auto;
}

.question-scale-slider-value-text {
  text-align: center;
  margin: 0;
  font-size: 24px;
  color: #555;
  cursor: default;
  user-select: none;
}

.question-scale-edit-scale {
  text-align: center;
  margin: 0;
  width: 100%;
  font-size: 24px;
  color: #555;
}

/*Terms & Conditions.*/
.termsx {
  overflow-y: scroll;
  height: 400px;
  width: 80%;
  border: 1px solid #ddd;
  padding: auto;
  margin: auto;
  border-radius: 20px;
  border: solid 4px rgb(149, 182, 235);
}

.topper {
  text-align: center;
  font-size: 14px;
  margin: 40px;
  font-weight: bold;
}

.hBlock {
  background-color: rgb(149, 182, 235);
  color: rgb(12, 8, 8);
  text-align: center;
  font-weight: bold;
  margin: 2em;
}

.pBlock {
  margin: 2em;
  text-align: left;
}

.tblock {
  margin: 2em;
  text-align: left;
  font-style: oblique;
  background-color: rgb(206, 206, 206);
  font-weight: bold;
}
.tblock1 {
  margin: 20px;
  text-align: left;
  font-style: oblique;
  background-color: rgb(109, 82, 82);
  font-weight: bold;
  color: white;
}

#emailus {
  color: rgb(19, 93, 177);
}

.signup-form {
  border: 1px solid #ccc;
  border-radius: 6px;
  max-width: 600px;
  margin: 32px auto;
  padding: 32px;
}

.signup-form-container {
  display: flex;
  flex-flow: row nowrap;
}

.btnHolder {
  text-align: center;
  margin: 2em;
  padding-bottom: 4em;
}

.signup-container {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
}

.signup-container input {
  margin-bottom: 20px;
}

.signup-container input[type="checkbox"] {
  margin-right: auto;
  margin-left: 0;
}

.signup-label {
  text-align: right;
  margin-right: 20px;
  margin-bottom: 20px;
}

.signup-submit {
  font-family: Quicksand;
  border: none;
  padding: 8px;
  border-radius: 24px;
  cursor: pointer;
  background-color: #3ca5ff;
  color: white;
  width: 50%;
  min-width: 120px;
  font-size: 24px;
  margin: 20px auto 0 auto;
  text-align: center;
}

.header-button {
  font-family: Quicksand;
  border: none;
  padding: 1em;
  border-radius: 1.5em;
  cursor: pointer;
  background-color: #3ca5ff;
  color: white;
  width: 80%;
  min-width: 120px;
  font-size: 24px;
  margin: 1em;
  text-align: center;
  box-shadow: 5px 8px #4d4c4c;
  transition-duration: 1s;
}

.header-button:hover {
  box-shadow: 0px 0px #3d3d3d;
  background-color: #2599ff;
  transition-duration: 0.5s;
}

.signup-error {
  width: 70%;
  color: #e56363;
  border: 2px solid #ec7e7e;
  padding: 8px;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 32px;
  text-align: center;
  font-family: Quicksand;
  font-size: 16px;
}

.react-icons {
  font-size: 12px;
  vertical-align: middle;
  margin-top: -2px;
  padding: 0;
  margin-right: 16px;
  opacity: 0.5;
}

.info-icon {
  position: absolute;
  bottom: 8px;
  right: 16px;
  color: #3ca5ff;
  font-size: 24px;
}

.delete-icon {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: rgb(255, 96, 96);
  font-size: 24px;
  cursor: pointer;
}

.disable-icon {
  position: absolute;
  bottom: 8px;
  left: 48px;
  color: #555;
  font-size: 24px;
  cursor: pointer;
}

/* edit-avatar */

.previewOverlay {
  position: absolute;
  width: 450px;
  height: 450px;
  margin: auto;
  display: block;
  border: 5px solid #555;
}

.ovlay {
  margin: auto;
  width: 200px;
  height: 200px;
  border: 5px solid #555;
  border-radius: 40px;
}

#btnHolder {
  margin-bottom: 40px;
  padding: 80px;
}

.panelHeading {
  background-color: #3ca5ff;
  color: #eeeeee;
  font-size: 50px;
  border: rgb(13, 27, 39);
  text-align: center;
  border: solid 4px black;
  border-radius: 40px;
}

.category {
  background-color: aquamarine;
  opacity: 0.8;
  text-align: left;
  font-size: 24px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 20px;
  text-align: center;
  border: solid 2px black;
}

.option {
  border-radius: 50px;
}

.avatarPreview {
  position: relative;
  height: 500px;
  display: flex;
  justify-content: center;
}

.previewOverlay {
  position: absolute;
  width: 450px;
  height: 450px;
  margin: auto;
  display: block;
  border: 5px solid #555;
}

.panel {
  justify-content: center;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

#bgs,
#torsos,
#skins,
#moods,
#hairs {
  width: 80%;
  margin: 20px;
}

/* edit-Prefs Page */
.sel {
  justify-content: center;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 60px;
  font-weight: bold;
}

.sel label {
  display: block;
  margin-top: 1em;
  line-height: 0.2em;
}

#tut1 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.domainRanker-form-container {
  display: flex;
  flex-flow: column nowrap;
  margin: 2em 2em 2em 2em;
}

.domainRanker-form-container input {
  margin-bottom: 1em;
}

#dName {
  background-color: rgb(255, 255, 255);
  color: #3ca5ff;
  font-size: 2em;
  margin: auto;
  font-weight: bold;
}

#physical {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

#mental {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
#emotional {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
#spiritual {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
#social {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

/* Profile Page */
.preferences-table {
  width: 100%;
  height: 100%;
  border: solid 8px black;
  border-radius: 2%;
  margin-bottom: 20px;
}

.admin-page {
  text-align: center;
}

.admin-panel-table-container {
  width: 95%;
  max-height: 50em;
  overflow: auto;
  margin: auto;
}

.admin-panel-table{
  width: 100%;
  border-collapse: collapse;
  border: 0px solid lightgray;
}

.admin-panel-table caption {
  font-size: 2em;
  color: #3ca5ff;
}

.admin-panel-table th{
  padding: 15px;
}

.admin-panel-table td{
  border: 1px solid lightgray;
  padding: 20px 0 20px 0;
  text-align: center;
}

.admin-panel-table tr{
  padding: 8px 0 8px 0;
  margin: 15px 0;
}

.admin-panel-table tr:nth-child(even){
  background-color: #e7e7e7;
}

.admin-buttons{
  height:30px;
  width:auto;
  border-radius: 30px;
  border: 0px;
  background-color: #ff9650;
}

.red-user-icon {
  color: rgb(255, 96, 96);
  font-size: 2em;
  cursor: pointer;
}

.blue-user-icon {
  color: rgb(88, 164, 248);
  font-size: 2em;
  cursor: pointer;
}

.add-question-container{
  border: 1px solid lightgrey;
  /* padding: 10px; */
  /* margin: 10px; */
  /* width: fit-content; */
  width: 88%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
}

.admin-input-text{
  height: 25px;
  width: 30%;
}
.container {
  background-color: rgb(88, 164, 248);
  margin: 40px;
  border: solid black 0.25em;
  padding: 2%;
  border-radius: 20px;
  color: white;
}

#box {
  background-color: rgb(255, 255, 255);
  border: solid black 0.2em;
  padding: 2%;
  border-radius: 100px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 40px;
}

#container-title {
  font-size: auto;
  text-align: center;
  font-style: bold;
}

#info {
  text-align: center;
  font-style: bold;
  padding: 10px;
  border-radius: 100px;
  border: none rgb(46, 45, 45);
}

#fullName {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: -20px;
  padding: 20px;
  font-size: 30px;
  border-radius: 100px;
  border: none rgb(46, 45, 45);
}

#inner-box {
  border-radius: 50px;
  background-color: rgb(155, 198, 247);
  margin: 30px;
  color: black;
}

#t1 {
  text-align: center;
  font-style: bold;
  color: white;
  position: relative;
  top: 30px;
}

#dth {
  width: 35%;
  height: 100%;
  background-color: black;
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  border: solid 1px lightyellow;
}

.preferences-table{
  border-collapse: collapse;
  border: solid 1px white;
}

.preferences-table th, .prefs-tbody td{
  padding: 10px;
}

#pB {
  text-align: center;
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  font-size: 50px;
  border-radius: 60px;
  border: solid rgb(46, 45, 45);
  background-color: rgb(238, 233, 188);
  font-weight: bolder;
  color: black;
  cursor: pointer;
}

#change-pass-btn {
  text-align: center;
  display: block;
  margin: auto;
  width: 60%;
  font-size: 2em;
  border-radius: 60px;
  border: solid rgb(46, 45, 45);
  background-color: rgb(238, 233, 188);
  font-weight: bolder;
  color: black;
  cursor: pointer;
  max-width: 600px;
}

#pB:hover {
  color: white;
  border-color: blanchedalmond;
}

#deleteAccount-btn {
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 1em;
  padding: 10px;
  width: 80%;
  font-size: 40px;
  border-radius: 60px;
  background-color: rgb(184, 90, 69);
  font-weight: bolder;
  opacity: 0.6;
  color: black;
  border-color: blanchedalmond;
  cursor: pointer;
}

#deleteAccount-btn:hover {
  opacity: 1;
  color: whitel;
  border: solid rgb(46, 45, 45);
}

#avatarHolder {
  position: relative;
  border: 5px solid #555;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 450px;
  margin: auto;
  border-radius: 40px;
}

#avatar {
  position: absolute;
  width: 80%;
  height: 80%;
}

#sub {
  text-align: center;
}

.domains-desc {
  width: 81%;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #fafafa;
  margin: 64px 0 0 10%;
  padding: 24px;
  padding-top: 0;
  line-height: 1.6;    
}

.domains-desc-title {
  font-family: Quicksand;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 16px;
}

.domains-desc-text {
  color: #555;
  margin-bottom: 0;
}

#return-btn {
  font-family: Quicksand;
  border: none;
  padding: 8px;
  border-radius: 24px;
  cursor: pointer;
  background-color: #ff593c;
  color: white;
  width: 50%;
  min-width: 120px;
  font-size: 24px;
  margin: 20px auto 0 auto;
  text-align: center;
  max-width: 600px;
  opacity: 0.7;
}

#return-btn:hover {
  opacity: 1;
}
/* Delete Page */
#deleteLog {
  background-color: rgb(206, 206, 206);
  font-weight: bold;
  font-size: 1em;
  margin: auto;
  text-align: center;
  padding: 2em;
}

/* Information Page */
#contact-container {
  padding: 1em;
  display: block;
}

#container-item {
  display: inline;
  background-color: rgb(102, 167, 191);
  padding: 1em;
  margin-right: 1em;
  margin-left: 1em;
  border-radius: 2em;
  font-weight: bold;
  font-size: 0.8em;
  color: white;
  border: solid 1pt black;
}

.helperText {
  display: block;
  text-align: center;
  margin: auto;
  padding: 1em;
}

#currentPrefsTable {
  margin: 2em;
  border-radius: 2em;
}

.colorDiv {
  margin: auto;
  padding: auto;
}

.saved-text {
  font-size: 1.5em;
  margin-bottom: 2em;
}

.add-question {
  text-align: center;
  margin-bottom: 3em;
  border: 1px solid #3ca5ff;
  padding: 1em;
  border-radius: 1em;
}

.add-question-text {
  margin: 0 0 1em 0;
  font-size: 1.5em;
  color: #3ca5ff;
}

.add-question-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.add-question-button {
  box-sizing: content-box;
  width: 2em;
  height: 2em;
  cursor: pointer;
  color: #3ca5ff;
  border: 4px solid #3ca5ff;
  border-radius: 5em;
  padding: 0.5em;
}